{% extends 'admin/login.html' %}
<!--
    重写页面文档
    https://github.com/newpanjing/simpleui/blob/master/QUICK.md#%E9%87%8D%E5%86%99%E9%A1%B5%E9%9D%A2
-->
{% block particles %}
    {{ block.super }}
    <!-- 重写login页面的block 添加自己的脚本 -->
    <script type="text/javascript">
        window.addEventListener('load', function () {
            if(loginApp){
                loginApp.username = 'simpleui';
                loginApp.password = 'demo123456';
            }
        });
    </script>
{% endblock %}